{{- if eq .chezmoi.os "darwin" }}# About the powerlevel10k terminal theme (instant prompt and theme sourcing moved to the top)
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

source $(brew --prefix)/share/powerlevel10k/powerlevel10k.zsh-theme
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Optional: suppress warning about instant prompt
typeset -g POWERLEVEL9K_INSTANT_PROMPT=quiet

# For nvim shortcut
alias nv="nvim"

# Delete .DS_Store files
alias ds_store_del="~/scripts/macos/clean_ds_store.sh"

# For the lima vm start, stop and launch
alias vm="~/scripts/macos/toggle_lima.sh"
alias vm_on="limactl start ubuntux86_64 && limactl shell ubuntux86_64"
alias vm_off="limactl stop ubuntux86_64"

# For the kitten icat functionality
alias dp="kitten icat"

# For python engine
export PATH="/usr/local/bin:$PATH"

# For the jenv engine
export PATH="$HOME/.jenv/bin:$PATH"
eval "$(jenv init -)"
export PATH="/opt/homebrew/opt/openjdk@17/bin:$PATH"

# Aliases for git and LaTeX projects
for dir in $HOME/Documents/git/*; do
    if [ -d "$dir" ]; then
        alias $(basename "$dir")="cd $dir"
    fi
done

for dir in $HOME/Documents/latex-projects/*; do
    if [ -d "$dir" ]; then
        alias $(basename "$dir")="cd $dir"
    fi
done

# Opam configuration (silencing output)
[[ ! -r /Users/dylan/.opam/opam-init/init.zsh ]] || source /Users/dylan/.opam/opam-init/init.zsh > /dev/null 2> /dev/null{{- else }}# For nvim shortcut
alias nv="nvim"

# For the kitten icat functionality
alias dp="kitten icat"

source ~/powerlevel10k/powerlevel10k.zsh-theme
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
POWERLEVEL9K_DISABLE_CONFIGURATION_WIZARD=true{{- end }}
