Host im2ag-mandelbrot.u-ga.fr
  HostName im2ag-mandelbrot.u-ga.fr
  User groussod

Host mandelbrot.e.ujf-grenoble.fr
  HostName mandelbrot.e.ujf-grenoble.fr
  User groussod

Host github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519

Host lima-ubuntux86_64
  IdentityFile="/Users/dylan/.lima/_config/user"
  StrictHostKeyChecking=no
  UserKnownHostsFile=/dev/null
  NoHostAuthenticationForLocalhost=yes
  User=dylan
  Hostname=127.0.0.1
  Port=56788
