{{- if eq .chezmoi.os "darwin" }}# New window
map cmd+enter new_window_with_cwd
map ctrl+shift+enter new_window

# For window swap
map cmd+h neighboring_window left
map cmd+l neighboring_window right
map cmd+j neighboring_window down
map cmd+k neighboring_window up

map cmd+left  neighboring_window left
map cmd+right neighboring_window right
map cmd+down  neighboring_window down
map cmd+up    neighboring_window up

map cmd+& first_window
map cmd+é second_window
map cmd+" third_window
map cmd+' fourth_window
map cmd+( fifth_window
map cmd+§ sixth_window
map cmd+è seventh_window
map cmd+! eighth_window
map cmd+ç ninth_window

# Layout managment
map cmd+shift+v goto_layout horizontal
map cmd+shift+h goto_layout vertical
map cmd+shift+f goto_layout fat
map cmd+shift+t goto_layout tall

# Deleting tab management
map cmd+t no_op{{- else }}# New window
map alt+enter new_window_with_cwd
map ctrl+shift+enter new_window

# For window swap
map alt+h neighboring_window left
map alt+l neighboring_window right
map alt+j neighboring_window down
map alt+k neighboring_window up

map alt+left  neighboring_window left
map alt+right neighboring_window right
map alt+down  neighboring_window down
map alt+up    neighboring_window up

map alt+& first_window
map alt+é second_window
map alt+" third_window
map alt+' fourth_window
map alt+( fifth_window
map alt+§ sixth_window
map alt+è seventh_window
map alt+! eighth_window
map alt+ç ninth_window

# Layout managment
map alt+shift+v goto_layout horizontal
map alt+shift+h goto_layout vertical
map alt+shift+f goto_layout fat
map alt+shift+t goto_layout tall

# Deleting tab management
map alt+t no_op{{- end }}

# Font parameters
font_size 13.0
font_family      JetBrainsMono Nerd Font Mono
bold_font        JetBrainsMono Nerd Font Mono Extra Bold
bold_italic_font JetBrainsMono Nerd Font Mono Extra Bold Italic
