#!/bin/bash

# This script installs all listed Homebrew formulae and casks
set -e

echo 'Installing formulae...'
brew install \
adwaita-icon-theme \
aom \
assimp \
at-spi2-core \
autoconf \
automake \
berkeley-db@5 \
black \
brotli \
btop \
c-ares \
ca-certificates \
cairo \
capstone \
chezmoi \
clang-format \
cmake \
dbus \
double-conversion \
dtc \
expat \
flock \
fontconfig \
freetype \
fribidi \
gawk \
gcc \
gd \
gdbm \
gdk-pixbuf \
gettext \
gh \
ghostscript \
giflib \
glib \
gmp \
gnu-sed \
gnuplot \
gnutls \
graphite2 \
gsettings-desktop-schemas \
gtk+3 \
gtksourceview3 \
harfbuzz \
hicolor-icon-theme \
highway \
hunspell \
icu4c@75 \
icu4c@76 \
imagemagick \
imath \
isl \
isort \
jasper \
jbig2dec \
jenv \
jpeg-turbo \
jpeg-xl \
latexindent \
leptonica \
libarchive \
libavif \
libb2 \
libcerf \
libde265 \
libdeflate \
libepoxy \
libevent \
libheif \
libidn \
libidn2 \
liblqr \
libmng \
libmpc \
libnghttp2 \
libomp \
libpng \
libraw \
librsvg \
libslirp \
libssh \
libtasn1 \
libtiff \
libtool \
libunistring \
libusb \
libuv \
libvmaf \
libvterm \
libx11 \
libxau \
libxcb \
libxdmcp \
libxext \
libxfixes \
libxi \
libxml2 \
libxrender \
libxtst \
lima \
little-cms2 \
lpeg \
lua \
lua-language-server \
luajit \
luv \
lz4 \
lzo \
m4 \
maven \
md4c \
mpdecimal \
mpfr \
msgpack \
ncurses \
neovim \
netpbm \
nettle \
ninja \
node \
openexr \
openjdk \
openjdk@11 \
openjdk@17 \
openjpeg \
openssl@3 \
p11-kit \
pango \
pcre2 \
perl \
pixman \
pkgconf \
powerlevel10k \
prettier \
python-packaging \
python@3.11 \
python@3.13 \
qemu \
qt \
readline \
ripgrep \
shared-mime-info \
shfmt \
snappy \
sqlite \
stylua \
tesseract \
texinfo \
tree \
tree-sitter \
unbound \
unibilium \
vde \
webp \
x265 \
xorgproto \
xz \
yapf \
zlib \
zstd 

echo 'Installing casks...'
brew install --cask \
bentobox \
kitty \
rar 

